# Dependencies
/node_modules
/vendor

# Environment files
.env
.env.backup
.env.production

# Laravel storage & cache
/storage
/bootstrap/cache
/storage/*.key

# Logs
npm-debug.log
yarn-error.log
*.log

# Laravel specific
/public/storage
/public/hot

# IDE / Editor
.idea
.vscode
.fleet

# OS files
.DS_Store
Thumbs.db

# Auth / misc
auth.json
Homestead.json
Homestead.yaml
.phpactor.json